{# Ensure visibility. #}
{% if product and product.is_visible() %}
    <li class="producto-item bg-white rounded-xl">
		<a href="{{ post.link }}">
			{% if post.thumbnail %}
				<div class="px-0 md:px-3">
					<img src="{{ post.thumbnail.src('product-thumb') }}" alt="{{ post.thumbnail.alt }}" class="scale-90 duration-300">
				</div>
			{% endif %}
			<h3 class="text-md md:text-base text-center font-medium px-2.5">{{ post.title }}</h3>
		</a>
		<a href="{{ post.link }}" class="boton-cotizar text-center text-xs lg:text-[15px] w-full max-w-[150px] md:max-w-[190px] mx-auto table uppercase font-semibold border-2 rounded-2xl py-1.5 md:py-2.5 px-5 my-3 mb-5 text-violet-600 border-violet-600 duration-300 hover:bg-violet-600 hover:text-white">Cotizar Ahora</a>
	</li>
{% endif %}
