{% extends 'base-woo.twig' %}

{% block content %}

	<div class="max-w-[1195px] mx-auto pt-0 md:pt-7 px-4">
		<div class="text-xs font-light mb-4 hidden md:block">
			{% do wc_action('woocommerce_before_main_content') %}
		</div>
		<h1 class="text-base md:text-2xl text-black font-semibold border-b pb-1.5 mb-4">{{ post.title }}</h1>
		{##
		 # Hook: woocommerce_before_single_product.
		 #
		 # @hooked wc_print_notices - 10
		#}
		{% do wc_action('woocommerce_before_single_product') %}

		<div id="product-{{ post.id }}" {{ fn('wc_product_class') }}>
			<div class="grid grid-cols-1 md:grid-cols-[52%_48%] py-0 md:py-2">
				<div class="px-12 md:px-0">
				{##
				 # Hook: woocommerce_before_single_product_summary.
				 #
				 # @hooked woocommerce_show_product_sale_flash - 10
				 # @hooked woocommerce_show_product_images - 20
				#}
				{% do wc_action('woocommerce_before_single_product_summary') %}
				</div>
				<div class="px-0 md:px-7 mb-16 md:mb-8">
					<div class="summary entry-summary">
						<h4 class="text-base md:text-xl border-b py-0 md:py-1 mt-0 md:mt-1 mb-4 md:mb-6">Cotiza tu Producto</h4>
						{##
						 # woocommerce_single_product_summary hook.
						 #
						 # @hooked woocommerce_template_single_title - 5
						 # @hooked woocommerce_template_single_rating - 10
						 # @hooked woocommerce_template_single_price - 10
						 # @hooked woocommerce_template_single_excerpt - 20
						 # @hooked woocommerce_template_single_add_to_cart - 30
						 # @hooked woocommerce_template_single_meta - 40
						 # @hooked woocommerce_template_single_sharing - 50
						 # @hooked WC_Structured_Data::generate_product_data() - 60
						#}
						<div class="px-2 md:px-4">
							{% do wc_action('woocommerce_single_product_summary') %}
							<button class="w-full max-w-[450px] bg-[#1363df] text-white text-lg text-center font-semibold md:font-medium uppercase inline-block float-right p-2.5 mt-3" onclick="modal.toggle()">
								Cotizar por WhatsApp
								<i aria-hidden="true" class="fab fa-whatsapp pl-3"></i>
							</button>
							<a href="{{ site.url }}/contacto/" class="w-full max-w-[450px] bg-[#06283d] text-white text-base text-center font-semibold md:font-medium uppercase inline-block float-right p-1.5 mt-3">
								Contactanos Ahora
								<i aria-hidden="true" class="far fa-envelope pl-3"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			{##
			 # Hook: woocommerce_after_single_product_summary.
			 #
			 # @hooked woocommerce_output_product_data_tabs - 10
			 # @hooked woocommerce_upsell_display - 15
			 # @hooked woocommerce_output_related_products - 20
			#}
			{% do wc_action('woocommerce_after_single_product_summary') %}
		</div>

		{% do wc_action('woocommerce_after_single_product') %}
	</div>

	<div id="whatsapp-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
		<div class="relative w-full max-w-lg md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white shadow">
				<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" onclick="modal.toggle()">
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					<span class="sr-only">Close modal</span>
				</button>
				<div class="px-8 py-8 lg:px-8">
					<h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">¿Hablemos?.. 😎 Estas a 1 paso</h3>
					<p class="text-sm font-normal text-gray-500 dark:text-gray-400 pb-2">Completa los datos para agilizar el proceso y nuestro vendedor realice el presupuesto </p>
					<form class="space-y-5" action="{{site.url}}/hablemos/" method="post">
						<div>
							<input type="hidden" name="titulo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-3.5" value="{{ post.title }}" required>
						</div>
						<div>
							<input type="text" name="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-3.5" placeholder="Su Nombre" required>
						</div>
						<div>
							<input type="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-3.5" placeholder="Su Email" required>
						</div>
						<button type="submit" class="w-full text-white uppercase bg-[#1363df] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"  onclick="enviarFormulario()">
							Hablar por WhatsApp
							<i aria-hidden="true" class="fab fa-whatsapp pl-3""></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
