{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<header class="header">
			{% block header %}
				<div class="bg-white">
					<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl px-4 md:px-6 py-5">
						<div class="flex items-center">
							<i class="fa fa-bars text-2xl mr-6" aria-hidden="true"></i>
							<a href="{{site.url}}">
								<img src="{{custom_logo_url}}" class="h-11" alt="Logotipo CreaPublicidad">
							</a>
							<a href="#" class="ml-10 text-base font-bold">Productos</a>
						</div>
						<div class="flex items-center">
							<form id="search" class="flex items-center">
								<label for="simple-search" class="sr-only">Search</label>
								<div class="relative w-full">
									<input type="text" id="simple-search" class="bg-zinc-100 border-none text-sm placeholder-black font-bold rounded-l-3xl focus:ring-blue-500 focus:border-blue-500 block w-full pl-5 p-3" placeholder="¿Qué estas buscando?" required>
								</div>
								<button type="submit" class="p-3 text-sm font-medium text-black bg-zinc-100 rounded-r-3xl border-none hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
									<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
									<span class="sr-only">Search</span>
								</button>
							</form>
						</div>
						<div class="flex items-center">
							<a href="#" class="text-sm">
								<strong>Ayuda</strong> <br>y contacto
							</a>
							<span class="w-px h-10 mx-5 border-r border-zinc-300"></span>
							<a href="#" class="text-sm">
								<strong>Mi Cuenta</strong> <br>y cotizaciones
							</a>
						</div>
					</div>
				</div>
				<nav id="menu-principal">
					<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl px-14 md:px-6 py-2.5">
						<div class="flex items-center list-none">
							{% include "menu.twig" with {'items': main_menu.get_items} %}
						</div>
					</div>
				</nav>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% block content endblock %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			<script src="https://kit.fontawesome.com/a50e9432f4.js" crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
			<script src="{{ site.theme.link }}/assets/dist/owl.carousel.min.js"></script>
			<script>
				$(document).ready(function() {
					$('.owl-carousel').owlCarousel({
						loop: true,
						margin: 0,
						nav: true,
						center: true,
						dots: false,
						autoplay: true,
						autoplayTimeout: 6000,
						autoplayHoverPause: false,
						responsive: {
							0: {
								items: 2,
								margin: 14,
								center: true,
								loop: true
							},
							480: {
								items: 3,
								loop: true
							},
							767: {
								items: 4,
								margin: 25
							},
							1140: {
								items: 4,
								margin: 40
							},
							1450: {
								items: 4,
								margin: 40
							}
						}
					})
				});
			</script>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
