<footer class="site-footer" id="colophon">
    <div id="footer-top" class="py-9 bg-zinc-800">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="px-6 pb-6 lg:border-r border-neutral-600">
                    <h5 class="text-white text-2xl font-light pb-8">Productos</h5>
                    <ul class="text-gray-300 text-lg mb-0">
                        {% for item in footer_menu_1.items %}
                            <li class="pb-3 {{ item.classes|join(' ') }}">
                                <a href="{{ item.link }}" class="hover:text-white">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="px-6 pb-6 lg:border-r border-neutral-600">
                    <h5 class="text-white text-2xl font-light pb-8">Informaci칩n</h5>
                    <ul class="text-gray-300 text-lg mb-0">
                        {% for item in footer_menu_2.items %}
                            <li class="pb-3 {{ item.classes|join(' ') }}">
                                <a href="{{ item.link }}" class="hover:text-white">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="px-6 pb-6 newsletter lg:border-r border-neutral-600">
                    <h5 class="text-white text-2xl font-light pb-8">Newsletter</h5>
                    <span class="text-gray-300 text-lg">Ingresa tu correo y recibe todas nuestras ofertas.</span>
                </div>
                <div class="px-6 pb-6 contacto">
                    <h5 class="text-white text-2xl font-light pb-8">Contacto</h5>
                    <span class="text-gray-300 text-lg">Envios a todo Chile</span>
                    <ul class="text-gray-300 text-lg mt-3 mb-0">
                        <li class="pb-3">
                            <a href="tel:+562 2952 0966" class="hover:text-white">
                                <i class="text-xl text-white mr-2 fas fa-phone-alt"></i> +562 2952 0966
                            </a>
                        </li>
                        <li>
                            <a href="mailto:ventas@creapublicidad.cl" class="hover:text-white">
                                <i class="text-xl text-white mr-2 fas fa-envelope"></i> ventas@creapublicidad.cl
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="py-6 bg-black text-white text-sm leading-tight">
        <div class="container mx-auto">
            <div class="grid grid-cols-4 gap-4">
                <div>
                    <p class="mb-0">CreaPublicidad.cl - 2022 Desarrollado por Agencia de Marketing</p>
                </div>
                <div class="col-span-2">
                    <p class="mb-0 text-center">Somos una IMPRENTA digital y offset hacemos envi칩s a todo chile, nos dedicamos a la impresi칩n l치ser a color y estamos ubicados en pleno centro.</p>
                </div>
                <div>
                    <div class="text-end text-lg">
                        <a href="" class="inline-flex items-center justify-center w-10 h-10 mr-2 text-white transition-colors duration-150 border-solid border border-white rounded-full focus:shadow-outline hover:text-slate-400 hover:border-slate-400">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="" class="inline-flex items-center justify-center w-10 h-10 text-white transition-colors duration-150 border-solid border border-white rounded-full focus:shadow-outline hover:text-slate-400 hover:border-slate-400">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
