{% extends "base.twig" %}
{% block content %}
	<div class="container-slider mx-auto">
		<div class="grid grid-cols-[72.5%_26%] gap-7 py-5">
			<div>
				<div class="owl-carousel owl-slider">
					{% for image in options.slider %}
						<div class="slider-item">
							<img src="{{ Image(image) }}" />
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="grid grid-cols-1 content-between">
				<img src="{{ Image(options.banner_home_1).src }}" class="w-full" />
				<img src="{{ Image(options.banner_home_2).src }}" class="w-full" />
			</div>
		</div>
	</div>
	<section id="marque-home" class="bg-black">
		<div class="container-slider mx-auto py-1.5 text-white">
			<marquee class="align-middle"><h1>Imprenta digital y offset en Santiago</h1> <span>Conoce nuestros NUEVOS ⚡Stickers Premium🔥</span> <span>Pendónes de toda las medidas interior, exterior, colgante⭐</span> <span>Conoce nuestros NUEVOS ⚡Stickers Premium🔥</span> <span>Pendónes de toda las medidas interior, exterior, colgante⭐</span> <span>Papelería Corporativa para su empresa o marca🔥</span> <span>Impresión de Tarjetas de Presentación, Clasica, Cuadradas, Termolaminadas🔥</span> <span>Flyers y Volantes de calidad y profesional</span> <span>⭐Impresión Plotter, Tela PVC, Adhesivos, Stickers</span> <span>Conoce nuestros NUEVOS ⚡Stickers Premium🔥</span> <span>Pendónes de toda las medidas interior, exterior, colgante⭐</span> <span>Conoce nuestros NUEVOS ⚡Stickers Premium🔥</span> <span>Pendónes de toda las medidas interior, exterior, colgante⭐</span> <span>Papelería Corporativa para su empresa o marca🔥</span> <span>Impresión de Tarjetas de Presentación, Clasica, Cuadradas, Termolaminadas🔥</span> <span>Flyers y Volantes de calidad y profesional</span> <span>⭐Impresión Plotter, Tela PVC, Adhesivos, Stickers</span> <span>Conoce nuestros NUEVOS ⚡Stickers Premium🔥</span> <span>Pendónes de toda las medidas interior, exterior, colgante⭐</span> <span>Conoce nuestros NUEVOS ⚡Stickers Premium🔥</span> <span>Pendónes de toda las medidas interior, exterior, colgante⭐</span> <span>Papelería Corporativa para su empresa o marca🔥</span> <span>Impresión de Tarjetas de Presentación, Clasica, Cuadradas, Termolaminadas🔥</span> <span>Flyers y Volantes de calidad y profesional</span> <span>⭐Impresión Plotter, Tela PVC, Adhesivos, Stickers</span></marquee>
		</div>
	</section>
	<div class="container-slider mx-auto owl-home">
		<h2 class="text-center text-xl sm:text-4xl font-bold pt-8 pb-4 text-violet-600">🔥Productos <span class="text-black font-normal">Destacados</span>🔥</h2>
		<div class="owl-carousel owl-loaded owl-drag owl-productos">
			{% for post in top_selling %}
				<div class="producto-item px-1 md:px-0">
					<a href="{{ post.link }}">
						<div class="product-image mb-2.5 px-2 rounded-t-lg">
							<img src="{{ post.thumbnail.src('shop_single') }}" />
						</div>
						<h5 class="text-xs md:text-base text-center uppercase font-semibold">{{ post.title }}</h5>
					</a>
					<div class="text-xs text-center text-neutral-500 font-normal leading-5 hidden md:block">{{ post.preview.length(16).force.read_more('') }}</div>
					<a href="{{ post.link }}" class="boton-cotizar text-center text-xs md:text-base w-4/5 md:w-full max-w-[200px] mx-auto table uppercase font-semibold border-2 rounded-2xl py-1.5 md:py-2.5 px-1 md:px-5 my-3 text-violet-600 border-violet-600 hover:bg-violet-600 hover:text-white">Cotizar Ahora</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="mx-auto home-container">
			<section id="ventajas-imprenta" class="pt-8 md:pt-20 pb-2 px-5">
				<div class="grid grid-cols-1">
					<h2 class="text-center pb-8 md:pb-11">Ventajas de la impresión online con CreaPublicidad</h2>
					<div class="grid grid-cols-1 md:grid-cols-2 gap-x-20">
						<div class="pb-5">
							<h3 class="mb-5">
								<div class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" height="512" viewBox="0 0 512.001 512.001" width="512"><g><path d="m14.068 15h263.37c13.686 0 24.819 11.135 24.819 24.82v31.65c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-31.65c0-21.957-17.863-39.82-39.819-39.82h-263.37c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5z"></path><path d="m143.678 59.133c0 4.053 3.285 7.338 7.338 7.338 4.052 0 7.338-3.285 7.338-7.338 0-4.052-3.285-7.338-7.338-7.338s-7.338 3.285-7.338 7.338z"></path><path d="m82.543 179.355c-18.292 0-33.173 14.881-33.173 33.173 0 18.291 14.881 33.172 33.173 33.172s33.173-14.881 33.173-33.172c0-18.292-14.881-33.173-33.173-33.173zm0 51.345c-10.021 0-18.173-8.152-18.173-18.172 0-10.021 8.152-18.173 18.173-18.173s18.173 8.152 18.173 18.173c0 10.02-8.152 18.172-18.173 18.172z"></path><path d="m82.543 382.645c18.292 0 33.173-14.881 33.173-33.173 0-18.291-14.881-33.172-33.173-33.172s-33.173 14.881-33.173 33.172c.001 18.292 14.881 33.173 33.173 33.173zm0-51.345c10.021 0 18.173 8.152 18.173 18.172 0 10.021-8.152 18.173-18.173 18.173s-18.173-8.152-18.173-18.173c.001-10.02 8.153-18.172 18.173-18.172z"></path><path d="m503.832 443.266-63.508-134.122c-8.966-18.938-26.999-32.014-47.409-34.996 19.129-13.809 31.614-36.277 31.614-61.619 0-41.892-34.081-75.973-75.972-75.973h-10.12l-22.416-34.067c-1.122-1.58-3.081-3.339-6.266-3.378h-252.308c-28.055 0-50.879 22.824-50.879 50.879 0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5c0-19.783 16.095-35.879 35.879-35.879h248.268l14.768 22.445h-237.94c-41.891 0-75.972 34.081-75.972 75.973 0 30.112 17.61 56.188 43.071 68.472-25.461 12.284-43.071 38.36-43.071 68.472 0 41.892 34.081 75.973 75.972 75.973.052 0 .102-.004.154-.004h140.878l11.29 23.843c5.327 11.252 16.815 18.522 29.266 18.522h38.127c1.762 15.085-9.425 29.117-24.819 29.194h-263.371c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h263.37c23.451.187 41.761-20.776 39.819-44.194h171.043c11.421.348 21.053-12.927 15.532-24.541zm-155.274-291.71c33.62 0 60.972 27.353 60.972 60.973s-27.352 60.971-60.972 60.971h-.001-220.746c18.619-13.859 30.704-36.03 30.704-60.972 0-24.943-12.085-47.113-30.704-60.973h220.747zm-326.986 60.972c0-33.62 27.352-60.973 60.972-60.973s60.972 27.353 60.972 60.973-27.352 60.972-60.973 60.972-60.971-27.352-60.971-60.972zm0 136.944c0-33.62 27.352-60.972 60.972-60.972s60.972 27.352 60.972 60.972c0 33.568-27.269 60.885-60.818 60.969h-.15c-.018 0-.035.003-.053.003-33.598-.028-60.923-27.369-60.923-60.972zm468.576 102.317c-.24.38-.8 1.017-1.848 1.017h-224.17c-6.683 0-12.85-3.902-15.709-9.942l-61.85-130.622c-1.772-3.744-6.242-5.343-9.988-3.568-3.743 1.772-5.341 6.244-3.568 9.988l43.458 91.779h-88.656c18.616-13.86 30.698-36.028 30.698-60.969 0-24.942-12.085-47.112-30.704-60.972h256.201c18.189 0 34.973 10.622 42.756 27.063l63.508 134.123c.448.946.112 1.723-.128 2.103z"></path><path d="m185.969 51.633c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h82.368c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5z"></path><path d="m290.985 325.442h37.546c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-37.546c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5z"></path><path d="m410.494 353.247c0-4.143-3.357-7.5-7.5-7.5h-156.509c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h156.509c4.142 0 7.5-3.357 7.5-7.5z"></path><path d="m427.364 386.894c0-4.143-3.357-7.5-7.5-7.5h-156.509c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h156.509c4.142 0 7.5-3.358 7.5-7.5z"></path><path d="m436.734 413.04h-17.87c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h17.87c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"></path><path d="m383.205 413.04h-102.98c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h102.979c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.499-7.5z"></path></g></svg>
								</div>
								<span>Productos con mayor demanda de impresión</span>
							</h3>
							<p>Son adhesivos, flyers, tarjetas de presentación y cualquier tipo de pedido especial. Toda creación dependerá de las características, preocupándonos de que el producto sea de máxima calidad en color y larga duración.</p>
						</div>
						<div class="pb-5">
							<h3 class="mb-5">
								<div class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" height="512" viewBox="0 0 509.262 509.262" width="512"><g><path d="m421.121 87.476h12.846v12.847c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-12.847h12.847c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-12.847v-12.846c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v12.846h-12.846c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"></path><ellipse cx="490.739" cy="144.824" rx="7.338" ry="7.338" transform="matrix(.987 -.16 .16 .987 -16.862 80.478)"></ellipse><circle cx="469.151" cy="7.338" r="7.338"></circle><path d="m468.313 259.537c0-.004-.001-.007-.002-.011-5.282-56.539-31.345-108.885-73.388-147.395-42.317-38.761-97.25-60.108-154.677-60.108-61.183 0-118.704 23.827-161.968 67.093-43.265 43.266-67.092 100.791-67.092 161.977 0 57.424 21.347 112.354 60.108 154.672 38.517 42.05 90.87 68.112 147.417 73.386 1.322.337 5.353-.013 6.969-2.075l228.607-228.608c.793 53.938-19.47 107.456-56.308 147.347-36.109 39.33-85.156 63.64-138.106 68.451-4.125.375-7.166 4.023-6.791 8.148s4.011 7.166 8.148 6.791c56.672-5.149 109.161-31.161 147.798-73.245 43.577-47.305 65.459-111.892 59.285-176.423zm-385.958 166.096c-36.221-39.544-56.169-90.876-56.169-144.541 0-118.039 96.027-214.07 214.06-214.07 53.667 0 105.001 19.948 144.546 56.169 37.097 33.979 60.871 79.479 67.568 128.92-5.518-.283-12.257-.478-19.813-.225-13.302-88.196-86.03-156.9-175.481-164.567-4.135-.353-7.76 2.705-8.113 6.832s2.705 7.759 6.832 8.113c82.119 7.038 148.972 69.819 161.745 150.598-22.624 2.204-44.287 7.699-64.502 16.008v-40.199c.312-15.118-13.238-30.17-29.89-29.89-16.481 0-29.89 13.409-29.89 29.89v45.91c0 8.795 3.861 16.865 10.135 22.405-33.173 24.699-59.442 58.154-75.369 96.941-27.976-2.854-53.032-17.727-68.988-40.845 2.375-2.043 4.324-4.629 5.751-7.724 1.734-3.762.091-8.217-3.67-9.952-3.763-1.735-8.217-.09-9.952 3.67-1.496 3.97-7.846 5.418-12.292 3.73-3.92-1.261-8.133.873-9.423 4.792-1.296 3.934.842 8.174 4.776 9.47-.015.084 5.433 1.488 10.343 1.341 17.602 27.469 46.01 45.585 78.082 49.982-5.317 15.951-8.919 32.68-10.602 49.97-86.768-13.65-151.27-88.528-151.27-177.271 0-44.615 16.476-87.384 46.392-120.428 29.707-32.813 70.195-53.432 114.006-58.06 4.119-.435 7.105-4.127 6.67-8.247-.435-4.119-4.126-7.109-8.247-6.67-47.485 5.016-91.363 27.358-123.55 62.91-32.418 35.808-50.272 82.152-50.272 130.496 0 96.619 70.572 178.065 165.284 192.289-.179 5.556-.183 12.096.226 19.816-49.438-6.689-94.94-30.463-128.923-67.563zm234.149-137.728c-4.974-2.472-8.258-7.589-8.258-13.323v-45.91c0-8.21 6.68-14.89 14.89-14.89 6.93-.038 14.905 5.993 14.89 14.89 0 0-.016 46.663-.044 47.036-7.395 3.688-14.564 7.76-21.478 12.197zm-90.525 197.658c-.115-4.526-.042-11.315.372-18.235 6.672-107.421 92.714-193.467 200.129-200.148 4.96-.268 11.107-.525 18.246-.363z"></path><path d="m157.362 198.781c-16.481 0-29.89 13.409-29.89 29.89v4.75c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-4.75c0-8.21 6.68-14.89 14.89-14.89s14.89 6.68 14.89 14.89v45.908c0 8.21-6.68 14.89-14.89 14.89s-14.89-6.68-14.89-14.89v-6.056c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v6.056c0 16.481 13.409 29.89 29.89 29.89s29.89-13.409 29.89-29.89v-45.908c0-16.482-13.408-29.89-29.89-29.89z"></path></g></svg>
								</div>
								<span>Impresión de adhesivos o stickera</span>
							</h3>
							<p>Nuestros adhesivos de vinilo blanco cabe destacar que son resistentes a la intemperie y garantizan una duración de hasta 5 años. Además los adhesivos impresos con laminado UV brillante o mate.</p>
						</div>
						<div class="">
							<h3 class="mb-5">
								<div class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" height="512" viewBox="0 0 512 512" width="512"><g><path d="m485.785 9.44h-153.895c-7.621.041-16.967 2.588-24.271 8.465l-112.548 89.31c-3.513 2.64-8.109 5.005-14.96 5.215h-153.896c-14.455 0-26.215 11.76-26.215 26.215v337.7c0 14.455 11.76 26.215 26.215 26.215h153.895c4.684 0 9.271-.831 13.596-2.454 3.846-1.418 7.438-3.441 10.676-6.012l112.548-89.31c2.001-1.581 4.207-2.822 6.557-3.689 2.184-.887 4.973-3.241 4.903-7.036v-369.341c1.154-.17 2.319-.278 3.5-.278h153.896c6.184 0 11.215 5.031 11.215 11.215v337.7c0 6.184-5.031 11.215-11.215 11.215h-129.04c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h129.04c14.455 0 26.215-11.76 26.215-26.215v-337.7c-.001-14.455-11.761-26.215-26.216-26.215zm-459.57 478.12c-6.184 0-11.215-5.031-11.215-11.215v-123.746c6.984 3.825 14.221 7.182 21.636 10.017 2.833.998 7.46.345 9.684-4.327 1.479-3.869-.457-8.205-4.326-9.684-9.369-3.582-18.431-8.068-26.993-13.352v-196.608c0-6.184 5.031-11.215 11.215-11.215h153.894c1.174 0 2.341-.052 3.5-.156v208.289c-25.258 15.457-54.215 23.627-84.03 23.627-7.537 0-15.112-.524-22.518-1.559-4.096-.574-7.893 2.288-8.465 6.39-.573 4.103 2.288 7.893 6.391 8.465 8.089 1.13 16.363 1.703 24.592 1.703 29.545 0 58.331-7.33 84.03-21.294v134.387c-1.154.17-2.319.278-3.5.278zm172.395-8.035v-356.758c2.257-1.444-.212.516 5.771-3.792l109.008-86.5v356.758c-2.257 1.444.212-.516-5.771 3.792z"></path><path d="m62.967 254.628c1.589 1.039 1.047 8.479.981 10.871-.764 13.349 13.873 25.062 27.625 20.07 5.076-2.934 11.705-3.077 17.465 0 2.258.803 4.603 1.198 6.936 1.197 10.047.344 21.261-9.381 20.688-21.268-1.221-5.734.69-12.084 5.397-16.61 8.475-10.311 3.455-28.568-10.553-32.474-5.831-.611-11.279-4.39-14.129-10.266-7.229-11.249-25.953-12.121-34.146 0-2.383 5.357-7.662 9.37-14.131 10.266-13.082 3.466-19.477 20.924-10.551 32.474zm6.569-20.122c.279-.859 1.209-2.938 3.807-3.704 9.196-1.427 17.59-7.254 22.263-16.174 2.829-2.777 5.069-3.886 9.399 0 4.198 8.306 12.334 14.486 22.261 16.174 3.516 1.832 5.262 3.62 2.906 8.939-6.501 6.477-9.959 16.08-8.504 26.17-.656 3.91-1.818 6.123-7.604 5.525-8.168-4.18-18.369-4.504-27.517 0-3.923.584-6.384.164-7.604-5.525 1.451-9.06-1.395-18.862-8.503-26.17-1.653-2.148-1.182-4.377-.904-5.235z"></path><path d="m76.322 422.5h45.965c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-45.965c-4.143 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"></path><path d="m151.859 438.796h-105.108c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h105.108c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"></path><path d="m281.823 117.48-56.136 44.545c-3.244 2.575-3.788 7.292-1.213 10.537 1.48 1.866 3.67 2.838 5.88 2.838 1.633 0 3.278-.531 4.657-1.625l56.136-44.545c3.244-2.575 3.788-7.292 1.213-10.537-2.574-3.244-7.292-3.788-10.537-1.213z"></path><path d="m281.823 158.977-56.136 44.545c-3.244 2.575-3.788 7.292-1.213 10.537 1.48 1.866 3.67 2.838 5.88 2.838 1.633 0 3.278-.531 4.657-1.625l56.136-44.545c3.244-2.575 3.788-7.292 1.213-10.537-2.574-3.244-7.292-3.789-10.537-1.213z"></path><path d="m281.823 200.473-56.136 44.545c-3.244 2.575-3.788 7.292-1.213 10.537 1.48 1.866 3.67 2.838 5.88 2.838 1.633 0 3.278-.531 4.657-1.625l56.136-44.545c3.244-2.575 3.788-7.292 1.213-10.537-2.574-3.244-7.292-3.788-10.537-1.213z"></path><path d="m281.823 287.391-56.136 44.545c-3.244 2.575-3.788 7.292-1.213 10.537 1.48 1.866 3.67 2.838 5.88 2.838 1.633 0 3.278-.531 4.657-1.625l56.136-44.545c3.244-2.575 3.788-7.292 1.213-10.537-2.574-3.245-7.292-3.788-10.537-1.213z"></path><path d="m281.823 328.887-56.136 44.545c-3.244 2.575-3.788 7.292-1.213 10.537 1.48 1.866 3.67 2.838 5.88 2.838 1.633 0 3.278-.531 4.657-1.625l56.136-44.545c3.244-2.575 3.788-7.292 1.213-10.537-2.574-3.244-7.292-3.788-10.537-1.213z"></path><path d="m374.041 127.123h77.384c10.05 0 18.226-8.176 18.226-18.226v-32.337c0-10.05-8.176-18.226-18.226-18.226h-77.384c-10.05 0-18.226 8.176-18.226 18.226v32.337c0 10.05 8.176 18.226 18.226 18.226zm-3.226-50.563c0-1.779 1.447-3.226 3.226-3.226h77.384c1.778 0 3.226 1.447 3.226 3.226v32.337c0 1.779-1.447 3.226-3.226 3.226h-77.384c-1.778 0-3.226-1.447-3.226-3.226z"></path><path d="m355.815 199.293c0 10.05 8.176 18.226 18.226 18.226h77.384c10.05 0 18.226-8.176 18.226-18.226v-32.337c0-10.05-8.176-18.226-18.226-18.226h-77.384c-10.05 0-18.226 8.176-18.226 18.226zm15-32.337c0-1.779 1.447-3.226 3.226-3.226h77.384c1.778 0 3.226 1.447 3.226 3.226v32.337c0 1.779-1.447 3.226-3.226 3.226h-77.384c-1.778 0-3.226-1.447-3.226-3.226z"></path><path d="m370.653 263.958c-4.052 0-7.338 3.285-7.338 7.338s3.285 7.338 7.338 7.338 7.338-3.285 7.338-7.338-3.286-7.338-7.338-7.338z"></path><path d="m462.15 263.796h-55.717c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h55.717c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"></path><path d="m370.653 304.201c-4.052 0-7.338 3.285-7.338 7.338 0 4.052 3.285 7.338 7.338 7.338s7.338-3.285 7.338-7.338-3.286-7.338-7.338-7.338z"></path><path d="m462.15 304.038h-55.717c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h55.717c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"></path></g></svg>
								</div>
								<span>La papelería corporativa</span>
							</h3>
							<p>Nuestra papelería con las mejores máquinas del mercado. Confeccionado con impresión digital laminación suave y así podemos entregar calidad en nuestro producto logrando que sea grato tanto visualmente.</p>
						</div>
						<div class="">
							<h3 class="mb-5">
								<div class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g> <g> <path d="M512,258.741c0-3.565-1.86-6.87-4.908-8.719l-19.573-11.878l19.573-11.878c3.047-1.849,4.908-5.155,4.908-8.719   s-1.86-6.869-4.908-8.719L250.094,52.862c-3.253-1.975-7.331-1.975-10.584,0L116.5,127.513L15.442,66.958   c-3.152-1.888-7.073-1.935-10.27-0.124C1.976,68.644,0,72.033,0,75.707v215.328c0,3.585,1.882,6.906,4.957,8.749l265.994,159.385   c1.612,0.966,3.426,1.45,5.242,1.45c1.733,0,3.467-0.442,5.028-1.326c3.196-1.81,5.171-5.201,5.171-8.873v-75.255l50.159,30.44   c1.627,0.987,3.46,1.48,5.291,1.48c1.832,0,3.666-0.493,5.291-1.48l159.958-97.073c3.047-1.849,4.908-5.155,4.908-8.719   c0-3.564-1.86-6.869-4.908-8.719l-19.471-11.817l19.471-11.817C510.14,265.61,512,262.306,512,258.741z M265.994,432.419   L20.398,285.256V93.708L265.994,240.87V432.419z M286.393,269.036v-33.945c0-3.585-1.882-6.906-4.957-8.749l-145.151-86.975   l108.518-65.856l237.34,144.034l-140.299,85.142L286.393,269.036z M482.142,258.741l-140.299,85.143l-55.45-33.651v-17.335   l50.159,30.44c1.627,0.987,3.46,1.48,5.291,1.48c1.832,0,3.666-0.493,5.291-1.48l120.725-73.264L482.142,258.741z    M341.843,384.954l-55.45-33.651v-17.21l50.159,30.44c1.627,0.987,3.46,1.48,5.291,1.48c1.832,0,3.666-0.493,5.291-1.48   l120.828-73.327l14.181,8.607L341.843,384.954z"></path> </g></g><g> <g> <path d="M367.808,219.96L228.487,135.41c-4.819-2.925-11.09-1.387-14.011,3.427c-2.922,4.816-1.387,11.089,3.427,14.011   l139.321,84.549c1.653,1.005,3.478,1.482,5.281,1.482c3.447,0,6.811-1.747,8.729-4.909   C374.157,229.154,372.622,222.882,367.808,219.96z"></path> </g></g><g> <g> <path d="M227.601,274.767l-3.167-1.897c-4.831-2.897-11.095-1.325-13.99,3.508c-2.896,4.831-1.325,11.096,3.507,13.99l3.167,1.897   c1.641,0.984,3.447,1.452,5.231,1.452c3.467,0,6.848-1.769,8.759-4.96C234.004,283.926,232.434,277.662,227.601,274.767z"></path> </g></g><g> <g> <path d="M190.827,252.731L63.996,176.733c-4.831-2.894-11.096-1.325-13.991,3.506c-2.896,4.831-1.325,11.096,3.508,13.991   l126.83,75.997c1.641,0.983,3.448,1.452,5.232,1.452c3.467,0,6.848-1.769,8.759-4.959   C197.229,261.891,195.658,255.626,190.827,252.731z"></path> </g></g><g> <g> <path d="M227.603,330.117L63.996,232.083c-4.831-2.893-11.096-1.325-13.991,3.506c-2.896,4.831-1.325,11.096,3.508,13.991   l163.606,98.034c1.641,0.983,3.448,1.452,5.232,1.452c3.467,0,6.848-1.769,8.759-4.959   C234.005,339.277,232.435,333.013,227.603,330.117z"></path> </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
								</div>
								<span>Las tarjetas de presentación o visita</span>
							</h3>
							<p>Ofrecen y garantizan colores especiales de máxima calidad y durabilidad, también cuenta con recubrimiento UV y laminación. Ofrecemos al igual tipos de tarjetas para eventos, fiestas o tipo cupón.</p>
						</div>
					</div>
				</div>
			</section>

			{{ post.content }}

			<section id="nuestra-imprenta" class="px-5 py-5 pb-5">
				<div class="grid grid-cols-1 gap-1 text-justify	">
					<h2 class="text-center pb-4">Nuestra Imprenta</h2>
					<p>En primer lugar aquí podrá <b>imprimir</b> todo lo que necesita para su empresa. Garantizamos su comodidad en entregas rápidas y precios para todos los bolsillos. Como resultado nuestro compromiso como imprenta es entregar la más alta calidad en impresión, uno de los principales argumentos son precio y calidad y nos encontramos ubicados en el en el <a href="https://es.wikipedia.org/wiki/Barrio_Patronato">barrio patronato</a> de recoleta donde podrá ver todo los productos.</p>
					<h3>¿Porque es tan importante tener una imprenta como respaldo?</h3>
					<p>Es altamente importante debido a que con ella podemos confiar nuestros proyectos de&nbsp;impresión digital. Usando diferentes estrategias de diseño inclinadas al mercado actual de la&nbsp;imprenta, entregando a los clientes un plus de profesionalidad y elegancia al momento de masificar cualquier tipo de campaña, evento, contacto etc.</p>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-5 gap-4 text-justify">
					<div class="md:col-span-3">
						<h3>Que ofrece Nuestra Imprenta</h3>
						<p>Podrás imprimir todos los materiales gráficos que necesita. Garantizamos la comodidad de igual manera contamos con los mejores precios de Chile, diseños profesionales y una fluidez en su entrega. Tenemos una amplia categoría de ofertas de productos para imprimir adaptados asegmentos del mercado.</p>
						<h3>Que es la impresión Offset</h3>
						<p>Es una técnica que implementamos que implica la transferencia de una imagen de una placa metálica a una manta de goma o rodillos antes de imprimirla en el medio de recepción, generalmente papel. En este método el papel el cliente final puede lograr que su proyecto de impresión digital obtenga los resultados más óptimos.</p>
						<div id="marcas" class="grid grid-cols-2 md:grid-cols-3 pt-5 pb-7">
							<div class="m-auto">
								<img width="176" height="26" src="https://www.creapublicidad.cl/wp-content/uploads/2020/07/roland-c.svg" alt="Roland">
							</div>
							<div class="m-auto">
								<img width="187" height="39" src="https://www.creapublicidad.cl/wp-content/uploads/2020/07/canon-c.svg" class="object-center" alt="Canon">
							</div>
							<div class="m-auto col-span-2 md:col-span-1 mt-2 md:mt-0">
								<img width="187" height="42" src="https://www.creapublicidad.cl/wp-content/uploads/2020/07/brother.svg" class="object-center" alt="brother">
							</div>
						</div>
					</div>
					<div class="col-span-2">
						<img width="500" height="310" class="mx-auto" src="https://www.creapublicidad.cl/wp-content/uploads/2020/08/imprentadigital1.png" title="imprentadigital1" alt="imprentadigital1">
					</div>
				</div>
			</section>
			<section id="beneficios-imprenta" class="px-5 pt-6 pb-10 md:pb-7">
				<div class="grid grid-cols-1 gap-1 text-justify">
					<p>En Santiago de Chile podemos encontrar diversos servicios y oficios que llevan décadas funcionando en el país. El servicio de imprenta ha logrado permanecer a lo largo del tiempo a pesar de las situaciones económicas. Una imprenta de calidad puede ofrecer servicios para pequeñas y grandes corporaciones. La imprenta Crea Publicidad, ubicada en Santiago de Chile, nace con la necesidad de seguir entregando un servicio esencial para las empresas. Con la nueva tecnología podemos ofrecer impresiones digitales y offset. A continuación te vamos a dar más detalles de nuestros servicios de imprenta.</p>
					<h2>Beneficios de una imprenta digital</h2>
					<p>Si necesitas imprimir desde 300 o 500 piezas gráficas publicitarias o corporativas para tu empresa nuestra imprenta digital se acomoda a tus requerimientos logrando entregar un servicio de calidad en colores, cortes y terminaciones de material. También al imprimir por volumen puedes ahorrar algo de dinero.</p>
					<h2>Impresiones por volúmenes grandes</h2>
					<p>Si necesitas imprimir desde 500 o 2000 piezas gráficas como mínimo, ya necesitas escalar a una imprenta offset. Esto te ayudará a reducir costos y tiempos de producción. Las impresoras de gran formato son ideales para cumplir con la alta demanda de impresiones gráficas que exigen las empresas. Los colores y terminaciones siempre serán de la mejor calidad.</p>

					<p>En Crea Publicidad puedes elegir al área de producción que más se acomode a tus necesidades, ofrecemos un servicio el servicio de imprenta digital y offset. Todos los procesos son supervisados por nuestros técnicos, especialistas en el rubro de las impresiones. Nos hacemos cargo de todos los pequeños detalles y siempre vamos a asesorar tus proyectos y archivos a imprimir, para así lograr llegar al color y terminación que necesitas.</p>
					<h2>Cómo elegir una imprenta con taller y máquinas propias</h2>
					<p>Si te preocupa que la imprenta sea una sub-imprenta que subcontrata los servicios de otra imprenta. Puedes solicitar una visita a nuestras instalaciones en Santiago de Chile, o puedes revisar las redes sociales o página web de la empresa. Esto hará que realmente encuentres un precio justo en impresiones.</p>

					<p>En Crea Publicidad hemos invertido en tecnología de los mejores fabricantes de impresoras digitales y offset. También estamos en constante capacitación asistiendo a convenciones y ferias relacionadas al rubro.</p>
					<h2>Cotizar servicios de imprenta</h2>
					<p>Las imprentas más cotizadas son las que pueden entregar un precio justo y responden a los tiempos de producción pautados. En Crea Publicidad se le asignará un vendedor quien tomará sus requerimientos y hará seguimiento real a la producción de sus piezas gráficas.</p>
					<h3>Conclusión de las imprentas</h3>
					<p>La historia del mundo entero se ha presentado en piezas gráficas, por ende los servicios de una imprenta han sido una pieza clave para documentar la historia, constituciones, firmas y acuerdos entre países. El papel y la tinta han creado historia, por eso en Crea Publicidad nos enfocamos en entregar los mejores servicios en digital y offset y crear piezas gráficas que duran con el tiempo.</p>

					<p>Queremos seguir creando historia en el rubro de las imprentas de Santiago de Chile. Nuestros vendedores están comprometidos con nuestra empresa y podemos ser una pieza clave en tu producción de papelería corporativa.</p>
					<h3>Sucursales para imprimir en Santiago de Chile</h3>
					<p>Si necesitas un proveedor directo con oficinas y taller de producción propio debes cotizar con nuestra imprenta Crea Publicidad. Nuestra sucursal de venta y producción se encuentra activa de lunes a sábado en Antonia <a href="https://www.google.com/maps/place/Imprenta+CreaPublicidad/@-33.4314573,-70.6438317,18.1z/data=!4m5!3m4!1s0x0:0x5feaf7ce858de1f9!8m2!3d-33.4318255!4d-70.6431635">López de Bello 246, Recoleta, 8420469, Región Metropolitana</a>.</p>
					<h3>Cómo cotizar un servicio de la imprenta</h3>
					<p>Para cotizar un servicio de impresión digital, offset, láser y color puedes comunicarte directo a nuestro <a href="https://wa.link/z62xcu">whatsapp +569 4042 4918</a> o a través de nuestro catálogo de productos disponibles en nuestra página web. Si tienes tiempo, puedes navegar por la <a href="https://www.creapublicidad.cl/tienda-imprenta/">tienda de la imprenta</a> y encontrar todos nuestros productos y servicios disponibles. Si necesitas una atención más personal no dudes en contactarnos vía teléfono o whatsapp.</p>
					<h3>Cual es el formato de archivo que debo entregar a la imprenta</h3>
					<p>El formato ideal siempre será el PDF este archivo se puede obtener de los programas illustrator o Photoshop. De igual manera los formatos, jpg, png, ai y psd son aceptados por nuestra imprenta. Cabe destacar que los textos de cada archivo deben ser trazados para evitar que se pixele o deforme el diseño. Para impresiones de un tamaño menor a 50 cm se recomienda renderizar a 300 dpi y para trabajos superiores a 50 cm mínimo 150 dpi.</p>

					<p>Este lenguaje técnico lo manejan los diseñadores gráficos, de igual manera usted puede pedirle estos requerimientos a su diseñador. <i>Ey necesito un diseño de 50 x 50 cm en 300 dpi exportado en formato pdf para imprenta, porfavor!</i>.</p>
					<h3>Quiero imprimir, pero no tengo diseño ¿Que hago?</h3>
					<p>Si no tienes diseño propio puedes contratar un diseñador gráfico con experiencia en impresiones gráficas. En crea publicidad hemos creado nuestra área especializada en <a href="https://www.creativaweb.cl/">diseño gráfico</a>, aquí puedes cotizar un servicio para luego ser enviado a la imprenta.</p>
					<h3>¿Cuáles impresiones están disponibles en la imprenta?</h3>
					<p>Nuestra imprenta está equipada con máquinas de última generación y trabajamos con las mejores marcas del mercado. Logrando así que nuestras tiradas de impresión salgan con la mejor calidad en color, corte y terminaciones. A continuación te dejamos nuestros tipos de impresión disponibles.</p>
					<h2>Impresión digital</h2>
					<p>Con la impresión digital usted puede imprimir tandas de 300 a 500 piezas gráficas, ideal para negocios en crecimiento. Aquí puede imprimir flyers, posters, trípticos.</p>
					<h2>Impresión offset</h2>
					<p>Si los requerimientos son de alta demanda y puedes cotizar impresiones de 10.000 a 100.000 piezas gráficas. Ideal para grandes corporaciones o empresas con varias sucursales a nivel nacional.</p>
					<h3>Láser, color, uv, sublimacion y serigrafia</h3>
					<p>También incluimos nuevas y antiguas técnicas de impresión para quienes lo soliciten. Podemos imprimir desde papel, telas y objetos como lápices, vasos y credenciales.</p>
					<p>Puedes revisar la <a href="https://www.creapublicidad.cl/tienda-imprenta/">tienda de la imprenta</a> y luego cotizar con nuestros vendedores y pedir la asesoría o técnica de impresión de preferencia <a href="https://www.creapublicidad.cl/contacto/">aquí</a>.</p>
					<h3>Realizan pruebas de color antes de imprimir una tanda completa</h3>
					<p>Si, previa cotización y compromiso de compra de la cotización. Nuestras máquinas van a intentar llegar al color maximo que usted nos trae, de igual manera si tiene dudas porque su diseño tiene muchos colores, sombras, degradados y texturas digitales, le recomendamos hacer una prueba de color.</p>
				</div>
			</section>
	</div>
{% endblock %}
